@import "../../scss/vars";

.mini-props {
  padding: 10px 16px;
  background-color: #F4F6F7;
  border-radius: 4px;
  height: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 769px) {
    padding: 15px;
  }

  @media screen and (max-width: 380px) {
    padding: 10px;
  }

  &__group {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 8px;
  }

  &__items {
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 130%;
    column-gap: 4px;

    @media screen and (max-width: 380px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &-title {
      max-width: 50%;
      width: 100%;
      color: #64707B;
      display: flex;
      white-space: nowrap;
      align-items: baseline;

      &:after {
        content: '';
        border-bottom: 1px dashed #64707B;
        display: block;
        width: 100%;
      }
    }

    &-value {
      max-width: 50%;
      width: 100%;
    }
  }

  &__more {
    font-size: 14px;
    line-height: 130%;
    color: $purple;

    @media screen and (max-width: 380px) {
      font-size: 12px;
    }
  }
}