@import "../../scss/vars";

.good-related {
  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;

    @media screen and (max-width: 769px) {
      margin-bottom: 15px;
    }
  }

  &__filter {
    border: 1px solid #E2E2E2;
    background-color: $white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    line-height: 115%;
    color: $black;
    padding: 7px 15px;
    box-sizing: border-box;
    height: 30px;
    transition: 0.2s;
    cursor: pointer;

    &--active {
      border: 1px solid #333333;
      box-shadow: inset 0px 0px 0px 1.6px #333333;

      &:hover {
        border: 1px solid #333333;
        background-color: $white !important;
      }
    }

    &:hover {
      background-color: #F4F6F7;
    }
  }

  &__elements {
    position: relative;
  }
}

.related-elements {
  position: relative;
  box-sizing: border-box;

  @media screen and (max-width: 1450px) {
    margin: 0 45px;
  }


  &__arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    background: $white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;

    top: 50%;
    transform: translateY(-50%);

    &--prev {
      left: -50px;
      border-radius: 25px 0 0 25px;

      @media screen and (max-width: 1450px) {
        left: 0;
      }
    }

    &--next {
      right: -50px;
      z-index: 12;
      border-radius: 0px 25px 25px 0px;

      @media screen and (max-width: 1450px) {
        right: 0;
      }
    }
  }
}

.related-element {
  background: $white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 10px;

  &__like {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__img {
    height: 240px;
    display: flex;
    margin-bottom: 16px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 115%;
    color: #111111;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 16px;
    line-height: 140%;
    color: #111111;
    margin-bottom: 12px;
  }
}