@import "../../scss/vars";

.good-related {
  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;

    @media screen and (max-width: 769px) {
      margin-bottom: 15px;
    }
  }

  &__filter {
    border: 1px solid #E2E2E2;
    background-color: $white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    line-height: 115%;
    color: $black;
    padding: 7px 15px;
    box-sizing: border-box;
    height: 30px;
    transition: 0.2s;
    cursor: pointer;

    &--active {
      border: 1px solid #333333;
      box-shadow: inset 0px 0px 0px 1.6px #333333;

      &:hover {
        border: 1px solid #333333;
        background-color: $white !important;
      }
    }

    &:hover {
      background-color: #F4F6F7;
    }
  }

  &__elements {
    position: relative;
  }
}

.related-elements {
  position: relative;
  box-sizing: border-box;

  @media screen and (max-width: 1250px) {
    margin: 0 25px;
  }

  @media screen and (max-width: 576px) {
    margin: 0 15px;
  }

  &__item {
    padding-bottom: 60px;
  }

  &__arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    background: $white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;

    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 576px) {
      width: 30px;
      height: 30px;
      opacity: 1;
    }

    & img,
    & svg {
      height: 11px;
      width: 17px;

      @media screen and (max-width: 576px) {
        height: 8.25px;
        width: 12.5px;
      }
    }

    &:hover {
      opacity: 1;
    }

    &--prev {
      left: -50px;
      border-radius: 25px 0 0 25px;

      @media screen and (max-width: 1250px) {
        left: -20px;
      }

      @media screen and (max-width: 576px) {
        left: -5px;
      }
    }

    &--next {
      right: -50px;
      z-index: 12;
      border-radius: 0px 25px 25px 0px;

      @media screen and (max-width: 1250px) {
        right: -20px;
      }

      @media screen and (max-width: 576px) {
        right: -5px;
      }
    }
  }
}