@import "../../scss/vars";

.collection-viewed {
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;

    @media screen and (max-width: 769px) {
      grid-gap: 15px;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  &__item {
    width: 100%;
    display: flex;
  }
}