@import "../../scss/vars";

.collection {
  &__info {
    margin-bottom: 60px;

    @media screen and (max-width: 769px) {
      margin-bottom: 40px;
    }
  }

  &__design {
    margin-bottom: 60px;

    @media screen and (max-width: 769px) {
      margin-bottom: 40px;
    }
  }

  &__props {
    margin-bottom: 60px;

    @media screen and (max-width: 769px) {
      margin-bottom: 40px;
    }
  }

  &__other {
    margin-bottom: 60px;

    @media screen and (max-width: 769px) {
      margin-bottom: 40px;
    }
  }

  &__feedback {
    margin-bottom: 60px;

    @media screen and (max-width: 769px) {
      margin-bottom: 40px;
    }
  }
}