@import "../../scss/vars";

.filter-categories {
  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $black;
    cursor: pointer;

    &--active,
    &:hover {
      font-weight: 500;
    }
  }

  &__count {
    font-size: 15px;
    line-height: 123%;
    color: #64707B;
  }
}