@import "./src/scss/vars";

.btn {
  width: 100%;

  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;

  padding: 5px 10px;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;

  @media screen and (max-width: 769px) {
    font-size: 14px;
  }

  &--sm {
    height: 30px;
  }

  &--mid {
    height: 40px;
  }

  &--big{
    height: 45px;
  }

  &--purple {
    background-color: $purple;
    border: 1px solid $purple;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    color: $white;

    &:hover {
      background-color: $purple-lite;
    }

    &.js-cart-remove{
      background-color: transparent;
      color: $purple;
      box-shadow: none;
    }
  }

  &--white {
    background: $white;
    border: 1px solid $grey;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    &:hover {
    }
  }

  &--grey{
    background-color: $grey-lite;
  }
}