@import "../../scss/vars";

.good {
  &__info {
    margin-bottom: 60px;
  }

  &__collection {
    margin-bottom: 60px;
  }

  &__related {
    margin-bottom: 60px;
  }

  &__tabs {
    margin-bottom: 75px;
  }

  &__others {
    margin-bottom: 60px;
  }

  &__feedback{
    margin-bottom: 60px;
  }

  @media screen and (max-width: 576px) {
    padding: 20px 10px;
  }

}